<div id="<%= dom_id configuration_item_relationship %>">
  <div>
    <strong>Source configuration item:</strong>
    <%= configuration_item_relationship.source_configuration_item_id %>
  </div>

  <div>
    <strong>Target configuration item:</strong>
    <%= configuration_item_relationship.target_configuration_item_id %>
  </div>

  <div>
    <strong>Relationship type:</strong>
    <%= configuration_item_relationship.relationship_type.name %>
  </div>

</div>
