<% content_for :title, "Editing configuration item relationship" %>

<h1>Editing configuration item relationship</h1>

<%= render "form", configuration_item_relationship: @configuration_item_relationship %>

<br>

<div>
  <%= link_to "Show this configuration item relationship", @configuration_item_relationship %> |
  <%= link_to "Back to configuration item relationships", configuration_item_relationships_path %>
</div>
