<p style="color: green"><%= notice %></p>

<% content_for :title, "Configuration item relationships" %>

<h1>Configuration item relationships</h1>

<div id="configuration_item_relationships">
  <% @configuration_item_relationships.each do |configuration_item_relationship| %>
    <%= render configuration_item_relationship %>
    <p>
      <%= link_to "Show this configuration item relationship", configuration_item_relationship %>
    </p>
  <% end %>
</div>

<%= link_to "New configuration item relationship", new_configuration_item_relationship_path %>
