<% content_for :title, "New configuration item relationship" %>

<h1>New configuration item relationship</h1>

<%= render "form", configuration_item_relationship: @configuration_item_relationship %>

<br>

<div>
  <%= link_to "Back to configuration item relationships", configuration_item_relationships_path %>
</div>
