<div id="<%= dom_id item_environment %>">
  <div>
    <strong>Name:</strong>
    <%= item_environment.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item_environment.description %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= item_environment.active %>
  </div>

</div>
