<% content_for :title, "New item environment" %>

<h1>New item environment</h1>

<%= render "form", item_environment: @item_environment %>

<br>

<div>
  <%= link_to "Back to item environments", item_environments_path %>
</div>
