<div id="<%= dom_id item_status %>">
  <div>
    <strong>Name:</strong>
    <%= item_status.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item_status.description %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= item_status.active %>
  </div>

</div>
