<p style="color: green"><%= notice %></p>

<% content_for :title, "Item statuses" %>

<h1>Item statuses</h1>

<div id="item_statuses">
  <% @item_statuses.each do |item_status| %>
    <%= render item_status %>
    <p>
      <%= link_to "Show this item status", item_status %>
    </p>
  <% end %>
</div>

<%= link_to "New item status", new_item_status_path %>
