<div id="<%= dom_id item_type %>">
  <div>
    <strong>Name:</strong>
    <%= item_type.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item_type.description %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= item_type.active %>
  </div>

</div>
