<div id="<%= dom_id relationship_type %>">
  <div>
    <strong>Name:</strong>
    <%= relationship_type.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= relationship_type.description %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= relationship_type.active %>
  </div>

</div>
