<% content_for :title, "Editing relationship type" %>

<h1>Editing relationship type</h1>

<%= render "form", relationship_type: @relationship_type %>

<br>

<div>
  <%= link_to "Show this relationship type", @relationship_type %> |
  <%= link_to "Back to relationship types", relationship_types_path %>
</div>
