<p style="color: green"><%= notice %></p>

<% content_for :title, "Relationship types" %>

<h1>Relationship types</h1>

<div id="relationship_types">
  <% @relationship_types.each do |relationship_type| %>
    <%= render relationship_type %>
    <p>
      <%= link_to "Show this relationship type", relationship_type %>
    </p>
  <% end %>
</div>

<%= link_to "New relationship type", new_relationship_type_path %>
